# Specify Dart as the primary language
*.dart linguist-language=Dart

# Mark documentation files
*.md linguist-documentation
*.rst linguist-documentation

# Exclude generated and vendored files from language statistics
/build/** linguist-generated
/.dart_tool/** linguist-generated
/packages/** linguist-vendored
/node_modules/** linguist-vendored
*.lock linguist-generated

# Exclude files that contribute to the "Other" category
*.cmake linguist-generated
*.html linguist-generated
*.swift linguist-generated
*.c linguist-generated
*.cpp linguist-generated
