# Specify Dart as the primary language
*.dart linguist-language=Dart

# Mark documentation files
*.md linguist-documentation
*.rst linguist-documentation

# Exclude generated and vendored files from language statistics
/build/** linguist-generated
/.dart_tool/** linguist-generated
/packages/** linguist-vendored
/node_modules/** linguist-vendored
*.lock linguist-generated

# Exclude C++ and CMake files from language statistics
*.cpp linguist-generated
*.h linguist-generated
*.cmake linguist-generated
*.c linguist-generated
*.java linguist-generated
*.html linguist-generated
*.swift linguist-generated
*.js linguist-generated
*.ts linguist-generated
*.py linguist-generated
*.go linguist-generated
*.rb linguist-generated
